[Unit]
Description=Manoc FCGI backend
After=network.target

[Service]
Environment="PERL_LOCAL_LIB_ROOT={{ manoc_local_lib}}"
Environment="PERL5LIB={{ manoc_local_lib}}/lib/perl5:{{manoc_app_dir}}/lib"
Environment="APP_MANOC_CONFIG={{manoc_conf_file}}"

ExecStart={{manoc_local_lib}}/bin/plackup  -E production -s FCGI --listen  {{manoc_run_dir}}/manoc.sock -a app.psgi
WorkingDirectory={{manoc_app_dir}}
[Install]
WantedBy=default.target
